<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
 <div ng-app="myApp" ng-controller="myCotrl">
Sort By: <select ng-model="sortColumn">
                          <option value="name">Name ASC</option>
                          <option value="gender">Gender ASC</option>
                          <option value="dob">DOB ASC</option>
                          <option value="-salary">Salary Dec</option></select>
</br></br>
 <table border="2" width="25%">
   <tr bgcolor='lightblue'>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Salary (numbers)</th>
     </tr>
   <tr ng-repeat="x in employees | orderBy : sortColumn " >
       <td style="color:red">{{x.name | uppercase}}</td>
      <td>{{x.dob | date:"MM/dd/yyyy"}}</td>
       <td>{{x.gender | lowercase}}</td>
       <td>{{x.salary | number:2}}</td>
     </tr>
</table>
</div>
<script>
var app=angular.module('myApp', [ ]);
app.controller('myCotrl', function($scope){
$scope.employees=
[{name:"Rahul",dob: new Date("May 21, 1980"),gender:"Male",salary:25000},
   {name:"Suresh",dob: new Date("April 12, 1990"),gender:"Male",salary:28000},
                               {name:"Divya",dob: new Date("May 15,1995"),gender:"Female",salary:35000},
                               {name:"Anil",dob: new Date("March 15,1996"),gender:"Male",salary:25000},
                                {name:"Narenl",dob: new Date("April 20, 1994"),gender:"Male",salary:25000},
];
$scope.sortColumn="name";
});

</script></body></html>